.headerContainer {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
@media only screen and (max-height: 850px) {
  .headerContainer {
    margin-bottom: 2rem;
  }
}

.logo {
  margin-left: 2rem;
}

.localesContainer {
  margin-right: 1rem;
}

.LanguageSwitchText {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.LanguageSwitchSeparator {
  margin: 0 5px 0 5px;
}


