.pageContainer {
  background: url(../public/background\ no\ text.png) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  font-family: 'Roboto Flex', sans-serif;
}

.mainContainer {
  height: 80vh;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.nameText {
  margin: 0;
  font-family: "ink free";
  font-size: 4rem;
  -webkit-animation: nameText 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: nameText 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.jobText {
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  margin-top: 2rem;
}

.reactJobText {
  font-family: "JetBrains Mono", monospace;
  color: aqua;
  margin: 0;
  color: #3fc7e9;
  text-shadow: 0 0 4px #3fc7e9;
  margin: 0.8rem;
  margin-bottom: 1.2rem;
}

.jobDescTextContainer {
  font-family: "JetBrains Mono", monospace;
  font-size: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}
.jobDescTextContainer > p {
  margin: 0;
  margin-bottom: 2rem;
}

/* --- SKILLS --- */

.skills {
  font-family: "JetBrains Mono", monospace;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  max-width: 70%;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

/* @media only screen and (max-width: 620px) {
  .skills {
    max-width: 500px;
  }
} */
/* @media only screen and (max-width: 450px) {
  .singleSkillContainer {
    font-size: 1rem;
  }
} */

.singleSkillContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  margin-left: 1rem;
  min-width: 112px;
}

.buttonContainer {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  font-family: "JetBrains Mono", monospace;
  /* font-family: 'Roboto Flex', sans-serif; */
  font-size: 1.5rem;
  background: none;
  color: white;
  padding: 1.3rem;
  border: none;
  display: inline-block;
  text-decoration: none;
  transition: transform 250ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.buttonSpan {
  text-decoration: underline;
  text-underline-position: under;
}

.button:hover {
  transform: translateY(-0.5rem);
}
.button:hover span {
  text-decoration-thickness: 2px;
  font-weight: 600;
}
.contactLogo {
  margin-left: 5px;
}

/* .button::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
}
.button:hover:after {
  width: 100%;
  transition: width 0.3s;
} */

/* BUTTON TEST */

/* */
@media only screen and (max-width: 750px) {
  .icon {
    width: 20px;
  }
  .skills {
    margin-top: 0.5rem;
  }
  .advancedSkills {
    margin: 10px;
  }
  .buttonContainer {
    margin-top: 0.2rem;
  }
  .button {
    font-size: 1.3rem;
  }
  .jobDescTextContainer p {
    margin-bottom: 0.5rem;
  }
}
@media only screen and (max-width: 450px) {
  .skills {
    font-size: 1rem;
    max-width: 90%;
  }
  .nameText {
    font-size: 3.3rem;
  }
}

@media only screen and (max-width: 600px) {
  .button {
    margin: 0 1.7rem 0 1.7rem;
  }
}

@media only screen and (max-width: 400px) {
  .button {
    margin: 0 1rem 0 1rem;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-5-17 18:22:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes nameText {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes nameText {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
