.cardBox {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  background-color: #346e55;
  /* background-color: #fff; */
  min-width: 10rem;
  height: auto;
  max-width: 500px;
  /* padding: 2rem; */
  /* border: 2px solid #f9f871; */
  /* border-radius: 8px; */
  margin: 2rem;
  overflow: auto;
}

.image {
  max-width: 100%;
  /* padding: 5px; */
  /* align-self: center; */
}

.imageContainer {
  min-width: 50%;
}

.textContainer {
  min-width: 50%;
  padding: 2rem;
}

.title {
  min-width: min-content;
}

/* @media only screen and (max-width: 2000px) {
  .card {
    max-width: 650px;
  }
} */
